<?xml version="1.0"?>

<configuration>
  
  <appSettings>
    <add key="ContentEditorsEmail" value="content.editors@customer.com"/>
    <add key="AdministratorsEmail" value="administrators@customer.com"/>
  </appSettings>

  <system.web>
    <compilation debug="false" />
    <customErrors mode="On" />
  </system.web>
  
</configuration>
