<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings>
    <add key="ContentEditorsEmail" value="tester@webagency.com" />
    <add key="AdministratorsEmail" value="tester@webagency.com" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  
</configuration>